{% extends 'admin/master.html' %}

{% block body %}

{% if current_user.is_authenticated %}
<h1 class="text-info mt-2">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ HỆ THỐNG CELLPHONES</h1>
<h2 class="text-success">Chào {{ current_user.name }} !</h2>
{% else %}
<h2 class="text-success">ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ</h2>
<form method="post" action="/login">
  <div class="form-group">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" class="form-control" placeholder="Enter username" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
  </div>
  <button type="submit" class="btn btn-primary">ĐĂNG NHẬP</button>
</form>
{% endif %}


{% endblock %}